{:paths ["src" "resources"]
 :deps {}
 :aliases {:dev {:extra-paths [;; Components
                                "../../components/config/src"]}
           :test {:extra-paths ["test"]
                  :extra-deps {}}}}
