{:paths ["src" "resources"]
 :deps {}
 :aliases  {:dev {:extra-paths [;; Components
                                "../../components/config/src"]

                  :test {:extra-paths ["test"]
                         :extra-deps {}}

                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}
                               hiccup/hiccup {:mvn/version "1.0.5"}}}}}
