{:paths ["src" "resources"]
 :aliases  {:dev {:extra-paths [;; Components
                                "../../components/config/src"]
                  
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}
                               cheshire/cheshire {:mvn/version "5.10.0"}
                               http-kit/http-kit {:mvn/version "2.5.0"}}}}}
